body {
  font-family: Arial, sans-serif;
  background-color: white;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

nav {
 display: flex;
 background-color: #252525;
 justify-content: center;
 padding: 20px;
 width: 100%;
 top: 0;
 left: 0;
 position: fixed;
 z-index: 1;
 
}

nav a {
 font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  margin-right: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #575757;
}







